*{
    margin: 0;
    padding: 0;

}
/* Below sets the image of the Background*/
#Back{
    background: url(images/Back.jpg) no-repeat center fixed;
    background-size: cover;
    background-position: center;
    height: 100vh; 
   font-family: 'Verdana';
}
/* Below is for putting a Logo on teh left top corner of main page but NOT WORKING YET */
.Logo {
    width: 50px;
    position:absolute;
    top:4%;
    left:5%;
    box-shadow: 10px 10px 10px brown;

}
/* Below is for the txt style of the main page */
.Back-text{
    text-align: center;
    color:chocolate;
    padding-top: 180px;

}
.Back-text h1{
    font-size: 30px;
    color:brown;
    font-style:italic;
    font-family: 'Caveat', cursive;
    text-shadow: 1px 1px 2px black, 0 0 5px brown, 0 0 5px rgb(94, 69, 1);
}
/* Below is the txt style for the main buttons */
.Back-btn{
    margin: 100px auto 0;
}
.Back-btn a{
    width: 250px;
    text-decoration: none;
    font-weight: bold;
    display:inline-block;
    margin:-40 20px;
    padding: 12px 0;
    color:brown;
    border:2px solid #ad7718;
    position: relative;
    z-index: 1;
    transition:color 0.5s;
    
}
/* Below is for the green transition when hovering on the btn */
.Back-btn a span{
    width: 20%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background:rgb(163, 213, 157);
    z-index:-1;
    transition: 0.5s;
}
.Back-btn a:hover span{
    width: 100%;
}
.Back-btn a:hover {
    color:green;
}
/* Below are for the Navigation Menu to the right*/
#sideNav{
    width: 180px;
    height: 100vh;
    position: fixed;
    right: -250;
    top: 0;
    background:rgb(163, 213, 157);
    z-index: 2;
    transition: 0.5s;
   /* font-family: 'Caveat', cursive;*/
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: brown;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background:rgb(163, 213, 157);
    text-align:center;
    position: fixed ;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index:3;
    cursor: pointer;

}
#menu-toggle{
display: none;
}
/* Below Media sets the Small screen format/Phone screen*/
@media screen and (max-width: 700px){
    .Back-text h1{
        font-size: 44px;
    }
    .Back-btn a {
        display: block;
        margin: 30px auto;
    }
}
/*Below is for the bottom info (Page 2)*/

#feature{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 30px;

}

.title-text p{
    margin: auto;
    font-size: 20px;
    color: brown;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
   /* font-family: 'Caveat', cursive;*/
    
}
.title-text p::after{
    content:'';
    width: 50px;
    height: 35px;
    background: linear-gradient(brown, #fff);
    position: absolute;
    top: -20px;
    left:0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-top-right-radius: 30px;

}

.feature-box{
    width: 90%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
   
}



.features{
    flex-basis: 50%;
   /* font-family: 'Caveat', cursive;*/
}
.features-img{
    flex-basis: 50%;
    margin: auto;
    position: relative;
}
.features-img img{
    width: 70%;
    border-radius: 10px;

}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), #ad7718);
    opacity: -5;
    transition: 1s;
}

.features-img:hover .overlay{
    opacity: 5;
}

.feature-text h3{
    font-size: 30px;
    text-align: center;
    /*font-family: 'Caveat', cursive;*/
    margin-bottom: 2rem; /* To add space below this line*/
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /*font-family: 'Caveat', cursive;*/
}
.feature-icon .fa{
    width: 50px;
    height: 50px;
    font-size:30px;
    line-height: 50px;
    border-radius: 8px;
    color:green;
    border:1px solid black;

}
.feature-text {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:  translateX(-50%);
    padding: 0 40px;
    text-align: initial;
    font-size: 30px;
    font-family: 'Caveat', cursive;
    opacity: 0;
    transition: 1s;
   
}
hr{
    height: 4px;
    border: 0;
    margin: 15px auto;
    width: 60%;
    
}

.feature-text p{
    font-size: 12px;
    /*font-family: 'Caveat', cursive;*/
    font-style: italic;
    color: brown;

}
.steps h1{
    width: 100%;
    margin: auto;
    display: flex;
    
    align-items: flex-start;
    flex-wrap: wrap;
   /* font-family: 'Caveat', cursive;*/
}
.suite{
flex-basis: 28%;
padding: 10px;
margin-bottom: 10px;
border-radius: 5px;
box-shadow: 0 10px 20px 3px #00968814;
cursor: pointer;
/*font-family: 'Caveat', cursive;*/
font-size: 10px;
}
.features-img:hover .feature-text{
    bottom: 20%; /* sets how high the text goes to the top while hovering*/
    opacity: 1;
} 

/* Below Media sets the Small screen format/Phone screen*/
@media screen and (max-width: 700px){

    .title-text h1{
        font-size: 50px;
    }    
    .features{
        flex-basis: 100%;
    
    }
    .features-img{
        flex-basis: 100%;
    
    }
    .features-img img{
        width: 100%;
        opacity: 1;
    }
    .feature-text p{
        font-size: 10px;
        flex-basis: 100%;
        margin-bottom: 1rem;
        
    }
    .feature-text h1{
        font-size: 15px;
        flex-basis: 100%;
    }
    .feature-text h3{
        font-size: 12px;
        flex-basis: 100%;
        margin-bottom: 1rem;
    }
    hr{
        margin:5px auto;
    }

    .features-img:hover .feature-text{
        bottom: 0;
        opacity: 10;
    } 
}
/*Below is for the bottom info (Page 3)*/
#service{
    width: 100%;
    padding: 70px 0;
    background: rgb(243, 215, 160);
    /*font-family: 'Caveat', cursive;*/
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto;
}

.single-service{
    flex-basis: 70%; /* reduce % to have both images on the same row*/
    text-align: center;
    border-radius: 70px;
    margin: 20px;
    color: green;

}
.single-service img{
    width: 100%;
    Top:0;
    border-radius: 7px;
}


hr{
    background-color: green;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}



.single-service { 
    font-size: 15px;
    font-style: oblique;

}

/* Below Media sets the Small screen format/Phone screen*/
@media screen and (max-width: 700px){
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
}
/*Page 4*/

#What{
    width: 100%;
    padding: 70px 0;
    /*font-family: 'Caveat', cursive;*/
   
}
.title-text p{
    text-align: center;
}
.apropos img{
    width: 48%;
    Top:0;
    border-radius: 7px;
    margin-left: 30%;
}
@media screen and (max-width: 700px){
  .title-text p{  
    flex-basis: 100%;
    margin-bottom: 5px;
}
.apropos img{  
    width: 80%;
    margin-left: 15%;
    margin-top: -30px;
}
}
/*Page 5*/
#Contacter{
    width: 100%;
    padding: 70px 0;
   /* font-family: 'Caveat', cursive;*/
    background: rgb(163, 213, 157);

}
.heures{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
   /* font-family: 'Caveat', cursive;*/
    
}

.r-v{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 5px 3px green;
   /* font-family: 'Caveat', cursive;*/
    font-size: 12px;
    
}
.remp{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 5px 3px green;
    /*font-family: 'Caveat', cursive;*/
    font-size: 12px;
    transition: 0.5s;
   

}


.r-v h2{
    font-size: 12px;
}
.r-v h1{
    color: black;
}


.potspleins {
    margin: 0;
    top: 100%;
    left:50%;
    text-align:  center;
}
.container {
    position: relative;
    text-align: center;
    color: white;
   
}
.container img{
    width: 80px;
    border-radius: 7px;
}
.potspleins img{
    position: absolute;
    width: 40%;
    top: 10%;
    left: 30%;
    opacity: 0;
    transition: 0.5s;
    border-radius: 7px;
}

.potspleins:hover img {
    opacity: 1;
    cursor: pointer;
    background: linear-gradient(rgb(255, 254, 254), #ad7718);
    top: 0%;
    left: 30%;
    border-radius: 7px;
 
}

.remp .fa{
    width: 20px;
    height: 20px;
    font-size:20px;
    line-height: 20px;
    border-radius: 8px;
    color:green;
    border:1px solid black;
    margin-left: 15%;
}





@media screen and (max-width: 700px){
    .r-v{
        flex-basis: 70%;
        text-align: center;
        display: block;
        margin: 30px auto;

    }
    .potspleins img{
        width: 80%;
        margin-left: -20%;
    }
    .remp{
       
        display: block;
        margin: 30px auto;
    
    }
 

}
.copyr{

    text-align: center;
    font-size: 10px;
    font-style: italic;
 
}
@media screen and (max-width: 700px){
.copyr{
    flex-basis: 100%;
    font-size: 8px;
}
}


/* APPOINTMENT PAGE */

#Appoint{
    width: 90%;
    }
p{
    font-style: italic;
    font-weight: 600;
    margin: 10px;
}

form{
    margin-top: 100px;
    background: linear-gradient(rgba(252, 252, 252, 0.918), #ad7718);
    /*font-family: 'Caveat', cursive;*/
  
}
form h2{
    text-align: left;
}

.a-back input, .two-cols{
    width: 28%;
    margin: left;
   
}
.a-back input, .inline{
    width: 98%;
  

   
}
#ft-form [type=checkbox],
#ft-form [type=radio] {
  padding: 0;
  display: inline-block;
  vertical-align: left;
  background-origin: border-box;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  box-sizing: border-box;
}
.btns{
    
    width: 50%;
}
@media screen and (max-width: 700px){

    form{
    
        margin-inline-end: -12%;
        margin-top: none;
    }

    .a-back input, .two-cols{
        width: 50%;
        text-align: left;
       
    }
    .a-back input, .inline{
        
        text-align: left;
    
      
       
    }
}
